@layer base.tailwind, base.sg, components;
@import './styles/buttons.css' layer(base.sg);

@layer base.tailwind {
	@tailwind base;
}

@layer components.tailwind {
	@tailwind components;
}

@tailwind utilities;

@layer base.sg {
	body > div {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}
