/* @layer base.tailwind, base.sg, components; */
@import 'tailwindcss/base' layer(base.tailwind);
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/buttons.css' layer(base.sg);

@layer base.sg {
	body > div {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.dark select {
		color: black;
	}
}
